body{
    margin: 0;
    padding: 0;
}
.modal-content{
    background-color: white;
    color:rgb(35, 35, 35);
    
}
.modal-dialog-centered{
    width: 600px;
}
.btn-group{
    margin-top: 10px;
    margin-left: 30px;
}

#addToCart{
    margin-right: 35%;
    
    
}
.h-100{
    text-align: center;
}
.linkDescription, .linkPrice{
    color: black;
    margin: auto;
}
.img-thumbnail{
    border: none;
}
#productDescription{
    font-size: 15px;
} 

#CartTotalPrice, .card-body{
    text-align: center;
}
#total-price{
    margin: auto;
}

a:hover{
    text-decoration: underline;
    color: black
}
#quantityStyle{
    padding-left: 40px;
    font-weight: bold;
}
#priceCard{
    position: fixed;
    top:14.5%;
    left: 72vw;
    opacity: 0.8; 
     
}
.card-body{
    max-height: 430px;
   /* overflow: auto; */
    /* overflow-x: hidden; */
}
.box2{
    max-height: 330px;
    overflow: auto; 
}
#proceedoCheckout{
    margin-left: 95px;
    width: 200px;
    margin-bottom: 20px;
}
.price{
    font-weight: bold;
}
.quantity{
    padding-left: 180px;
    font-weight: bold;
}

